<!DOCTYPE html>
<html lang="en">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <body class="container">

        <header>
            <%- include('./partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>
                    Upload
                </h1>
                <p>
                    Click on select file and then upload.
                </p>
                <form method="POST" enctype="multipart/form-data" action="/upload/server">
                    <div class="form-group">
                        <label class="btn btn-outline-primary">
                            Choose File
                            <input type="file" name='image' id='image' style="display: none" accept="image/png, image/jpeg" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" name='upload'/>
                    </div>
                </form>
                <div class = "<%= url === undefined ? 'hidden' : 'visible'%> ">
                    Success visit : <a href='<%=url;%>'> Link </a>
                    <%=url;%>
                </div>
                <% if (alert !== undefined && alert === true) { %>
                    <script>
                        alert('Uploaded Succesfully');
                    </script>
                <% } %> 
            </div>
        </main>
    </body>
</html>